// Composant Event dans le fichier index.js
.events {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}

// Composant EventsList
.eventsList {
  flex-grow: 1;

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid lightgray;
  
    & h2 {
      font-size: 1.3rem;
      font-weight: bold;
    }
  }
}

// Composant Event
.event {
  flex-grow: 1;

  &__form {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
  }

  &__item {
    display: flex;
    flex-direction: column;
    width: 95%;

    & input, select {
      height: 2rem;
    }

    & textarea {
      height: 10rem;
    }

  }

  &__buttons {
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
  }
}

// composant AddEvent
.addEvent {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  &__button {
    font-size: 2rem;
    margin: 1rem;
  }
}
