.familyDeck {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: linear-gradient( rgba(255,255,255,0.9),rgba(255, 255, 255, 0.7)), center / cover no-repeat url('../../assets/background.jpg') ;
}
