@use '../../styles/_vars';

.form_inscription {
  width:80%;
  margin: auto;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.title_principal{

  text-align:center
}

.inscription_box{display:flex;
  justify-content: center;
flex-direction: column;}

.center_title{
  text-align: center;
}

.display_box{
  display: flex;
  justify-content: space-around;
}
.span_line{
  height:2px;
  margin:auto;
  width:90%;
  background-color: vars.$grey;
}


.role_and_date{width:100%;}
.role_and_date input, select{height:3vh}

.title_principal{
  font-size: 8vw;
  color:vars.$grey;
  margin:10px
}

.center_button{
  margin:15px;
  text-align: center;

}

.center_button button{
  border:none;
  background-color: vars.$blue;
  border-radius:10px;
  padding: 10px 30px;
  color: white

}

.text{
  color: red
}
.inscription {
  width:100%;
  display: flex;
  flex-direction: column;
  height: 100vh;
}





