.header {
  display: flex;
  align-items: center;

  &__appLogo {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    border: 1px solid gray;
    color: gray;
    border-radius: 50%;
    width: 70px;
    height: 70px;
  }

  &__hello {
    padding: 0.5rem;
    width: 60vw;
  }
}

.header span {
  font-weight: bold;
}

.header h1 {
  text-align: center;
  font-size: 1.5rem;
}

.header img {
  width: 20vw;
}
