.child, .child select {
  width: 100%;
  text-align: center;
  height: 2rem;
  font-family: 'Indie Flower';
}

.child select {
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  border-left: none;
  border-right: none;
  background-color: white;
}
