@use '../../styles/_vars';

.members {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}




// composant AddMember
.addMember {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  &__button {
    font-size: 2rem;
    margin: 1rem;
  }
}

// composant Member
.member {
  flex-grow: 1;
  overflow: auto;

  &__form {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
  }

  &__item {
    display: flex;
    flex-direction: column;
    width: 95%;
    justify-content: center;

    & input, select {
      height: 2rem;
    }

    & textarea {
      height: 10rem;
    }

  }

  &__title2, &__title3 {
    border-bottom: 1px solid vars.$lightgrey;
    width: 95%;
    text-align: center;
  }

  &__bloc {
    display: flex;
    flex-wrap: wrap;
    width: 95%;
  }

  &__buttons {
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
  }

}

.semi {
    width: 45%;
    align-items: stretch;
  }


